html, body, #root {
  height: 100%;
  min-height: 100vh;
  margin: 0;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.app-root {
  min-height: 100vh;
}

* {
  transition: all 200ms ease-in-out;
}


body {
  margin: 0;
  padding: 0;
  background-color: rgb(183, 227, 243);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*main app*/ 
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Headings */
h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: black;
}

h2, h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 15px;
  color: black;
}

/* Inputs */
input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 8px;
  width: 250px;
  text-align: center;
}

/* Buttons */
button {
  background-color: #f5f5f5;
  border: 1px solid #aaa;
  color: black;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #e6e6e6;
}

/* Output text */
.output {
  margin-top: 20px;
  text-align: center;
  font-size: 1.2rem;
}

/* Table*/
table {
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px 16px;
  text-align: center;
}

